ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.social-icon {
    height: 20px;
    width: auto;
}

.landing-page {
    background-image: url(/Images/cover.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.landing-page::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 0;
}

.landing-page .container {
    margin: 0 34px;
    position: relative;
    z-index: 1;
    height: 100%;

    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    height: 100px;
}

.logo {
    flex: 1;
}

nav {
    flex: 1;
}

nav a {
    display: inline-block;
    color: var(--main-text-color);
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

nav a::before {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: -100%;
    background-color: var(--main-color);
    transition: all 0.5s;
}

nav a::after {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    right: -100%;
    background-color: var(--main-color);
    transition: all 0.5s;
}

nav a:hover:before {
    left: -30%;
}

nav a:hover::after {
    right: -30%;
}

nav a:hover {
    color: var(--main-color);
}

nav ul {
    justify-content: center;
}

.contact-social-panel {
    flex: 1;
}

.contact-social-panel ul {
    justify-content: flex-end;
}

.welcome-panel {
    flex: 1;
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.welcome-panel .holder {
    display: flex;
    flex-direction: column;
    margin: auto 400px;
    gap: 20px;
}

.welcome-panel .holder span {
    font-size: 28px;
    font-weight: 400;
    color: rgb(228, 228, 228);
}

.welcome-panel .holder h1 {
    font-size: 64px;
    font-weight: 700;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.welcome-panel .holder h1 div {
    animation-name: welcome-anim;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-direction: normal;
    animation-timing-function: linear;
}

.welcome-panel .holder h1 div::before {
    content: "Software Developer \A Based in Bangkok, Thailand \A I'm Phattaraphon Tiplueang";
    white-space: pre-line;
    /* เพื่อให้ \A ทำงานเป็นการขึ้นบรรทัดใหม่ */
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
}

@keyframes welcome-anim {
    0% {
        transform: translateY(0);
    }

    23% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-100%);
    }

    48% {
        transform: translateY(-100%);
    }

    50% {
        transform: translateY(-200%);
    }

    73% {
        transform: translateY(-200%);
    }

    75% {
        transform: translateY(-300%);
    }

    100% {
        transform: translateY(-300%);
    }
}